@model IEnumerable<WEB2022_ZZFashion.Models.Product>

@{
    ViewData["Title"] = "AllProducts";
}

<h1>AllProducts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObsoleteStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img class="blogimg" src="~/images/Products/@item.Image"
                     />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObsoleteStatus)
            </td>
            <td>
                <a class="nav-link updateDelete" asp-area="" asp-controller="ProductManager" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                <a class="nav-link updateDelete" asp-area="" asp-controller="ProductManager" asp-action="Details" asp-route-id="@item.ID">Details</a>
                <a class="nav-link updateDelete" asp-area="" asp-controller="ProductManager" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
