@model IEnumerable<WEB2022Apr_P01_T3.Models.FeedbackViewModel>

<p><a asp-action="CreateFeedback">Create Feedback</a></p>

@if (Model.ToList().Count() > 0)
{
    @foreach (var feedback in Model)
    {
        //Make use of different container type based on whether feedback had been responsed
        string feedbackContainerType = "feedbackContainer";
        if (feedback.ResponseList.Count == 0)
        {
            feedbackContainerType = "feedbackContainer feedbackContainerSpecial";
        }

        <div class="@feedbackContainerType">
            @if (feedback.ResponseList.Count == 0)
            {
                <p class="notResponded">Not Responded</p>
            }
            else
            {
                <p class="responded"></p>
            }
            <p class="feedbackTitle">@feedback.Title</p>
            <p>Feedback ID: @feedback.FeedbackID - Posted On: @feedback.DateTimePosted by @feedback.Email</p>
            <p>@feedback.Text</p>
            @if (feedback.ImageFileName != null)
            {
                <img src="/images/feedback/@feedback.ImageFileName" />
            }
        </div>

        @for (int i = 0; i < feedback.ResponseList.Count; i++)
        {
            string responseContainerType = "responseContainerTypeOne";
            if (i == feedback.ResponseList.Count - 1)
            {
                responseContainerType = "responseContainerTypeTwo";
            }

            Response r = feedback.ResponseList[i];
            <div class="responseContainer @responseContainerType">
                <p class="feedbackTitle responseTitle">RE: @feedback.Title</p>
                @if (r.Email != null)
                {
                    <p>Response ID: @r.ResponseID - Posted On: @r.DateTimePosted by @r.Email</p>
                }
                else if (r.StaffID != null)
                {
                    <p>Response ID: @r.ResponseID - Posted On: @r.DateTimePosted by @r.StaffID</p>
                }
                else
                {
                    <p>Response ID: @r.ResponseID - Posted On: @r.DateTimePosted</p>
                }
                <p>@r.Text</p>
            </div>
        }
    }
}

else
{
    <span style="color:red">No record found!</span>
}